<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="DEFAULT1" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/evalDS</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>-->
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.canonicalmodel.subpackage" value="one"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="DEFAULT2" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/evalSkynet</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>-->
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.canonicalmodel.subpackage" value="two"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="DEFAULT3" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/evalRM</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>-->
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.canonicalmodel.subpackage" value="three"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="DEFAULT4" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/rhnlc</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>-->
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.canonicalmodel.subpackage" value="four"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="DEFAULT5" transaction-type="JTA">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/rhntr</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>-->
        <validation-mode>NONE</validation-mode>
        <properties>
            <property name="eclipselink.canonicalmodel.subpackage" value="five"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
